/* 
font-family: 'El Messiri', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Zilla Slab', serif; 
*/

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Raleway', sans-serif;
    background-color: white;
}
.footer {
    position: absolute;
    font-family: 'El Messiri', sans-serif;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    background-color: #e9ecef;
    line-height: 60px; /* Vertically center the text there */
}

/*Custom Additions*/

.jumbotron {
    font-family: 'Zilla Slab', serif;
    padding: 2rem 1rem !important;
}

header {
    font-family: 'El Messiri', sans-serif;
    background-color: #6500A9;
}

.gallery {
    width: auto;
    height: auto;
    max-width: 1250px;
    max-height: 1000px;
}

.nav-link{
    color: gold !important;
}

.nav-link:hover {
    color: grey !important;
}

a.current {
    text-decoration: underline;
}

.navbar-brand {
    color: gold !important;
}

.navbar-brand:hover {
    color: grey !important;
}

.contact-info {
    font-family: 'El Messiri', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.head-center {
    text-align: center;
}

.success {
    background-color: lightcyan;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}