@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2 class="head-center">Contact Information</h2>

<table class="contact-info">
    <tr>
        <th>
            Name:
        </th>
        <td>
            Shane Hubble
        </td>
    </tr>
    <tr>
        <th>
            Email:
        </th>
        <td>
            smhubble09@byui.edu
        </td>
    </tr>
</table>

