@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2 class="head-center">Contact Information</h2>

<p class="head-center font-italic" style="font-size:18px">For any technical issues or questions, please use the provided information below.</p>
<table class="contact-info">
    <tr>
        <th>
            Name:
        </th>
        <td>
            Shane Hubble
        </td>
    </tr>
    <tr>
        <th>
            Email:
        </th>
        <td>
            smhubble09@byui.edu
        </td>
    </tr>
</table>

<img class="logo" src="~/images/logo.jpg"/>

