@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All content on this site is property of Winters University. All information is kept confidential.</p>
<img class="logo" src="~/images/logo.jpg" />
