@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Lato:ital,wght@1,300&family=Noto+Sans+JP&family=Questrial&display=swap');
/*
    font-family: 'Crete Round', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Questrial', sans-serif;
*/

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: beige;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: navy;
}

.footer {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Lato', sans-serif;
}

/* Custom Styles
-------------------------------------------------- */
header {
    background-color: white;
    font-family: 'Lato', sans-serif;
}

.nav-link {
    color: blue !important;
}

.navbar-brand {
    color: blue !important;
}

.nav-link:hover {
    color: orange !important;
}

.navbar-brand:hover {
    color: orange !important;
}

.pb-3 {
    color: orange !important;
    font-family: 'Noto Sans JP', sans-serif;
}

.table {
    color: orange !important;
    font-family: 'Noto Sans JP', sans-serif;
}

a:hover {
    color: orange !important;
}

.privacy {
    color: #6c757d !important;
    text-decoration: underline;
}

.privacypageh1 {
    font-family: 'Questrial', sans-serif;
}

.privacypagep {
    font-family: 'Crete Round', serif;
}

.gallery {
    margin-right: 300px;
    margin-top: -180px;
    width: 300px;
    height: 300px;
    float: right;
}